#################################
##   Node Modules to ignore    ##

*/node_modules
#################################


#################################
##   htaccess files to ignore  ##
*.htaccess

